{% extends 'base.html' %}

{% block title %}
My shop
{% endblock %}


{% block content %}
<div class="products">
    <a href="/prod_item1">
        <div class="product_item">
            PRODUCT 1
        </div>
    </a>
    <a href="/prod_item2">
        <div class="product_item">
            PRODUCT 2
        </div>
    </a>
    <a href="/prod_item3">
        <div class="product_item">
            PRODUCT 3
        </div>
    </a>
    <a href="/prod_item4">
        <div class="product_item">
            PRODUCT 4
        </div>
    </a>
    <a href="/prod_item5">
        <div class="product_item">
            PRODUCT 5
        </div>
    </a>
    <a href="/prod_item6">
        <div class="product_item">
            PRODUCT 6
        </div>
    </a>
</div>
{% endblock %}